run = "dotnet watch run --project /home/runner/MagicVilla/MagicVilla_VillaAPI/MagicVilla_VillaAPI.csproj --urls=http://0.0.0.0:5150"

[packager]
language = "dotnet"

[packager.features]
packageSearch = true

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 5150
externalPort = 80

[deployment]
run = ["sh", "-c", "dotnet run --project MagicVilla_VillaAPI/MagicVilla_VillaAPI.csproj"]
deploymentTarget = "cloudrun"
